.container-poke {
  margin: 25px;
  background: transparent;
}
.text-top {
  font-size: 31px;
  text-align: center;
}
.searchbar-container {
  display: flex;
  margin: 25px;
  margin-left: 10%;
  
}

.text-select {
  display: flex;
}
.searchbar-input{
    padding: 12px 500px;
    text-align: justify;
    border-radius: 25px;
}
.search-button{
    padding: 12px 25px;
    text-align: justify;
    border-radius: 25px;    
}
.type-tex {
  margin-left: 80px;
  padding: 3px 30px;
  font-size: 10%;
  text-align: center;
}
